@model IEnumerable<MobileShoppe.Models.DateToDate>

@{
    ViewBag.Title = "DateToDate";
    Layout = "~/Views/Shared/_ViewSales.cshtml";
}

<h4>DateToDate</h4>

@using (Html.BeginForm("DateToDate", "Home", FormMethod.Post))
{
    @Html.Label("Enter From Date  ")
    @Html.TextBox("fromDate")
    <br />
    <br />
    @Html.Label("Enter Till Date  ")
    @Html.TextBox("tillDate")
    <br />
    <br />
    <input type="Submit" value="Search" />
}
@if (Model != null)
{
    <table>
        <tr>
            <th>Sales Id  </th>
            <th>Company Name   </th>
            <th>Model Number  </th>
            <th>IMEINO  </th>
            <th>Price  </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <th>@item.SalesId</th>
                <th>@item.CompanyName</th>
                <th>@item.ModelNumber</th>
                <th>@item.IMEINO</th>
                <th>@item.Price</th>
            </tr>
        }

    </table>
    <h4>Total Sales of the day = @TempData["Total"]</h4>
}
