@model MobileShoppe.Models.EmployeeAdd

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgetPassword</title>
</head>
<body>
    <div>
        @using(Html.BeginForm("ForgetPassword", "Home", FormMethod.Post))
        {
        @Html.Label("User Name")
        @Html.TextBoxFor(Model => Model.UserName)
        <br />
        <br />
        @Html.Label("Forget Password")
        @Html.TextBoxFor(Model => Model.Hint)
        <br />
        <br />
        <input type="submit" value="Submit" />
        <span>Your Password is @TempData["Password"]</span>
        }

    </div>
    
</body>
</html>
